@import "~bootstrap/scss/bootstrap-utilities";

.icon-link {
    @extend .text-dark;
    cursor: pointer;
}

.whatsapp-icon:hover {
    color: #00a884;
}

.telegram-icon:hover {
    color: #2e87ca;
}

.vk-icon:hover {
    color: #0077ff;
}

.facebook-icon:hover {
    color: #2e89ff;
}

.gitlab-icon:hover {
    color: #e24329;
}

.github-icon:hover {
    color: #161b22;
}
