.item-wrapper {
  border-color: var(--bs-grey);
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-right: none;
  transition-duration: 400ms;
  cursor: pointer;

  .duration-view {
    color: var(--bs-dark);
    box-shadow: 0 0 1px var(--bs-primary) inset;
    text-align: center;
    background-color: var(--bs-white);
    transition-duration: 400ms;
    z-index: 1;
  }

  .duration-view:before {
    background-color: var(--bs-primary);
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition-duration: 400ms;
  }
}
.item-wrapper:hover {

  .duration-view {
    color: var(--bs-white);
  }

  .duration-view:before {
    width: 100%;
    height: 100%;
  }
}
