$primary:       #47A2D9 !default;
$secondary:     #576ca8 !default;
$thirdly:       #1b264f !default;
$success:       #00Af88 !default;
$info:          #00d3d1 !default;
$warning:       #f9f871 !default;
$danger:        #f07468 !default;
$light:         #ecfbff !default;
$dark:          #394955 !default;
$grey:          #ecf0f1 !default;

$body-font-family: 'Quicksand', sans-serif;
$font-size-root: 75.5%;

$theme-colors: () !default;
$theme-colors: map-merge(
                (
                        "primary":    $primary,
                        "secondary":  $secondary,
                        "thirdly":    $thirdly,
                        "success":    $success,
                        "info":       $info,
                        "warning":    $warning,
                        "danger":     $danger,
                        "light":      $light,
                        "dark":       $dark,
                        "grey":       $grey,
                ),
                $theme-colors
);

@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap);
